body,
html {
  margin: 0;
  padding: 0;
  background-color: #e7e0c5;
  width: 100%;
  overflow-x: hidden;
}

/**navbar**/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2f0f0;
}

ul.topnav li {
  float: right;
}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #b6b39194;
}

ul.topnav li a.active {
  background-color: #bfba75;
}

ul.topnav li.right {
  float: left;
}

/**footer***/

footer {
  display: flex;
  justify-content: center;
  background-color: #ffe17b;
  margin-top: 15%;
  width: 100%;
  height: fit-content;
  bottom: 0;
  left: 0;
}

.footer-content {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  gap: 16px;
  list-style-type: none;
}


/**home**/

.mainHome {
  width: 100%;
  height: fit-content;
}

.sushi {
  width: 70%;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 5%;
}

.sushiContainer {
  cursor: pointer;
}
.rectangulo {
  display: block;
  margin: 0 auto;
  width: 70%;
  background-color: #bfba75;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 25px;
  font-family: Calibri;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 3%;
  width: 100%;
  cursor: pointer;
}

.containerCard {
  background-color: #bfba75;
  font-size: 15px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  text-align: center;
  color: black;
  font-weight: light;
  flex-grow: 1;
  display: block;
  width: 100%;
  font-family: Calibri;
}

.containerCard img {
  width: 200px;
  height: 300px;
  display: block;
  justify-content: center;
}

/**main recetas**/

.mainRecetas {
  margin-left: 20px;
  margin-bottom: 50px;
  width: auto;
}

.titulo-recetas {
  margin-top: 100px;
}

.subtitulo {
  text-align: left;
}

.layout {
  width: 900px;
  height: 768px;

  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.boxes {
  display: flex;
}

.cardReceta {
  background-color: #e7b921;
}

.filtros {
  margin-right: 50px;
  width: 500px;
  background-color: #e7ce96;
  padding: 20px;
  border-radius: 5px;
}

/** main novedades**/

.mainNovedades {
  margin-bottom: 15%;
  margin-left: 1%;
}

.boxesNovedades {
  display: flex;
}

.layoutNovedades {
  width: 100%;
  height: 500px;
  margin-top: 30px;
  display: grid;
  grid:
    "sidebar . " 1fr
    / 60% 1fr;
  gap: 8px;
}

.cardContainer {
  display: grid;
  gap: 12px;
}

.card1 {
  background-color: #e7b921;
  margin-right: 2%;
}

.card2 {
  background-color: #e7ce96;
  margin-right: 2%;
}

.sidebar {
  grid-area: sidebar;
  background-color: #1ccc34;
  flex-shrink: 0;
  margin-right: 2%;
}

.titulo-noticias {
  margin-top: 100px;
  margin-left: 10px;
}

.subtituloN {
  text-align: left;
  margin-left: 10px;
}

/**main favoritos**/

.titulo-fav {
  margin-top: 3%;
}

.subtituloF {
  text-align: left;
}

.mainFavoritos {
  margin-left: 2%;
  margin-bottom: 5%;
}

.boxesFav {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.cardFav img {
  width: 400px;
  height: 300px;
}

/**main detalle receta**/

.mainDetail {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -50px;
}

.layoutDetail {
  width: 100%;
  height: 550px;
  display: flex;
  margin-top: 100px;
}

.grow1D {
  background-color: #c51605;
  width: 30%;
}
.grow2D {
  background-color: #e7b921;
  width: 70%;
}

.layoutDetail2 {
  width: 100%;
  height: 550px;
  display: flex;
  margin-top: 50px;
}

.grow3D {
  background-color: #c51605;
  width: 30%;
}

.grow3D p{
  margin-left: 2%;
}
.grow4D {
  background-color: #e7b921;
  width: 70%;
  margin-left: 2%;
}

.grow4D p{
  margin-left: 2%;
}

.layoutPasos {
  width: 80%px;
  height: 450px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-right: 20px;
  margin-left: 20px;
}

.cardPasos {
  background-color: #21e753;
}

@media only screen and (max-width: 720px) {
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body,
  html {
    margin: 0;
    padding: 0;
    background-color: #f5eac6;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    height: auto;
  }

  /**navbar**/

  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }

  /**footer**/


  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }


  /**home**/

  .rectangulo {
    font-size: 16px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerCard {
    background-color: #bfba75;
    font-size: 12px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    text-align: center;
    color: black;
    font-weight: light;
    display: block;
    width: 80%;
    height: 100%;
    font-family: Calibri;
    margin-bottom: 4%;
  }

  .containerCard img {
    width: 200px;
    height: 50%;
    display: block;
    justify-content: center;
  }

  /**favoritos**/

  .subtituloF {
    text-align: center;
  }

  .boxesFav {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
  }

  .cardFav {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .cardFav img {
    width: 300px;
    height: 200px;
  }

  /**novedades**/

  .boxesNovedades {
    display: flex;
    width: 100%;
  }

  .layoutNovedades {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
  }

  .sidebar {
    height: 200px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .card1 {
    background-color: #e7b921;
    height: 200px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .card2 {
    background-color: #e7ce96;
    height: 200px;
    margin-left: 2%;
    margin-right: 2%;
  }
}
